#info-home{
    color:black !important
}

.homeBG{
  background-color:rgb(233, 12, 12)  !important;
}

#homeBGLogo{
     width: 200px; 
     height: 150px; 
    opacity: 0.9;
    /* display:flex; */
   /* padding:10pt; */
   background:rgba(255, 255, 255, 0.508)  !important;
    align-items: center;
    justify-content: center;
    position: relative;
    
    border-radius: 5%;
  }

#homeCardImage{
    height: 500px;
    object-fit:contain;
    /* background-image: url('../images/imgPython.jpeg'); */
    /* opacity: 0.3; */
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background:#000;
  }
  
  #homeCardImage > img{
    position: absolute;
    height:100%;
    width:100%;
    opacity: .3;
  }
  #homeCardImage >p{
    /* background:rgba(0,0,0,0.3) ; */
    color:#fff;
    opacity: 1;
  }
  